.itemBox{
  padding: 10px;
  border-top:1px solid #ccc;
}
.lt_price .price{
  padding-left:5px;
  font-size: 20px;
}
.lt_price del{
  font-size: 16px;
  color: #666;
}
.lt_size span{
  padding:5px;
  background-color: #f5f5f5;
  font-size: 12px;
  border: 1px solid #ccc;
  line-height: 30px;
}
.lt_size span.current{
  background-color: #069;
}
.lt_num span{
  font-size: 14px;
  color: #666;

}
.lt_go_cart{
  height: 55px;
  border-top:1px solid red;
  padding: 10px 10px 0 10px;
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
}
.lt_go_cart a{
  padding:5px;
}