

.history{
  padding:10px;
  color: #666;
}
.title{
  font-size: 14px;
}
.history .main{
  font-size: 14px;
  margin-top:10px;
}
.history .main ul{

  border: 1px dashed red;
}
.history .main li {
  height: 30px;
  line-height:30px;
  border-bottom: 1px dashed red;
}
.history .main li:last-child{
  border-bottom: none;
}
.history .main li i{
  line-height:30px;
}
.history .main li a {
  padding: 0 10px;
}